:root{
    --main-color: rgb(255, 145, 0);
    --btn-hover: rgb(255, 187, 98);
}
body{
    font-family: 'Roboto', sans-serif;
}
#container{
    width: 100%;
    margin: auto;
}
.todo-title{
    text-align: center;
    font-size: 25px;
    color: rgb(255, 145, 0);
}
.input-todo{
    width: 100%;
    margin-bottom: 30px;
}
.input-todo input{
    width: 450px;
    height: 37px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 0 10px;
    font-size: 17px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 3px var(--main-color);
}
.input-todo button{
    position: relative;
    left: 34.5%;
    width: 100px;
    height: 37px;
    background: #fff;
    border: none;
    font-size: 17px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    background-color: rgb(255, 145, 0);
    color: #fff;
}
.input-todo button:hover{
    background-color: rgb(255, 188, 100);
    color: #fff;
}
.todo-button_group{
    width: 100%; 
    display: flex; 
    justify-content: space-between;
}
.todo-button_group button{
    width: 30%;
    height: 30px; 
    border: none; 
    background-color: var(--main-color); 
    color: rgb(255, 255, 255); 
    border-radius: 5px;
}
.todo-button_group button:hover{
    background-color: var(--btn-hover);
    color: #fff;
}


@keyframes invisible{
    from{
        opacity: 0.1;
    }to{
        opacity: 1;
    }
}
.content-row{
    width: 22%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid rgb(180, 180, 180);
    animation: invisible 1.5s ease-in-out;
    box-shadow: 4px 4px var(--main-color);
}
.todo-content_title{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px; 
    overflow-wrap: break-word; 
    color: rgb(0, 0, 0);
}
.todo-content_description{
    width: 100%;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
}